@use "../index.scss" as *;
@use "./LoginPage.scss" as *;

.forgot-page {
  @extend .login-page;

  .left-container_top__subheading {
    margin-top: 0.5rem;
    line-height: 1.625rem;
  }
}
.sent-container {
  height: 40vh;
  @include alignCenter;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  max-width: 25rem;
  width: 90%;
  margin-inline: auto;

  .heading {
    font-size: 1.75rem;
    color: getClr($colors, "primary", 50);
  }

  .sub_heading {
    font-size: 1.125rem;
    color: getClr($colors, "primary", 200);
    margin-block: 1rem 2.5rem;
  }

  .login_btn {
    @include btnPrimary;
    display: block;
    max-width: 20rem;
    width: 100%;
    color: getClr($colors, "primary", 900);
  }
}
