@use "../index" as *;

.waitlist_page {
  display: grid;
  min-height: 34rem;
  margin-inline: auto;
  margin-block: 5rem;
  width: 90%;
  max-width: 70.2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 4.125rem auto;
  row-gap: 2.5rem;

  &-header {
    grid-column: 1 /3;
    border: rem(2) solid $bdr-clr;
    padding-inline: 2.5rem;
    @include alignCenter;
    justify-content: space-between;

    &-logo {
      max-width: 12.9rem;
      display: inline-block;
    }

    &-text {
      font-size: 0.875rem;
      color: getClr($colors, "primary", 100);
      font-weight: 400;
    }
  }

  &-main {
    grid-column: span 3;
    border: rem(2) solid $bdr-clr;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .waitlist_display {
      padding: 2.5rem 1.75rem;
      display: flex;
      flex-direction: column;
      &-intro {
        margin-bottom: auto;
      }

      &-heading {
        color: getClr($colors, "primary", 400);
        font-size: 1.75rem;
        font-weight: 700;
        margin-bottom: 1rem;

        &__highlight {
          color: getClr($colors, "primary", 50);
        }
      }

      &-subheading {
        font-size: 1.25rem;
        color: getClr($colors, "primary", 50);
        font-weight: 400;
      }
    }

    .waitlist_form {
      border-left: rem(2) solid $bdr-clr;
      .register_form {
        display: flex;
        margin: 1.75rem;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;

        h6 {
          line-height: 1.625rem;
          font-size: 1rem;
          font-weight: 400;
        }

        .input-group {
          @include inputGroup;
        }

        .waitlist_form-btn {
          @include btnPrimary;
        }
      }

      .success_container {
        height: 22rem;
        margin: 2.5rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 0.75rem;

        .success_icon {
          display: flex;
          padding: 0.75em;
          justify-content: center;
          align-items: center;
          border: rem(1.5) solid getClr($colors, "primary", 700);
          color: getClr($colors, "primary", 0);
          border-radius: 25rem;
          background: getClr($colors, "primary", 800);
          animation: pop 0.8s ease-in-out infinite;

          svg {
            font-size: 2.5em;
          }

          @keyframes pop {
            80% {
              transform: scale(1.3);
              background: getClr($colors, "error", 500);
              color: getClr($colors, "error", 500);
            }
            100% {
              transform: scale(1);
            }
          }
        }

        .success_title {
          font-size: 1.75rem;
          font-weight: 700;
          color: getClr($colors, "primary", 0);
        }

        .success_subtitle {
          font-weight: 400;
          line-height: 1.625rem;
          font-size: 1rem;
        }
      }
    }
  }

  &-footer {
    grid-column: 3/-1;
    grid-row: 1/2;
    border: rem(2) solid $bdr-clr;
    border-left: none;
    @include alignCenter;
    justify-content: center;

    .footer-link {
      @include btnNeutral;
    }
  }

  @include mobile {
    margin-block: 3rem 5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 4.125rem auto 4.125rem;
    row-gap: 1.75rem;

    &-header {
      grid-column: unset;
      padding-inline: 1rem;

      &-logo svg {
        max-width: 6.5rem;
      }
    }

    &-main {
      grid-column: unset;
      flex-direction: column;
      display: grid;
      grid-template-columns: 1fr;

      .waitlist_display {
        padding: 1.75rem 1.25rem;
        &-intro {
          margin-bottom: 5rem;
        }

        &-heading {
          font-size: 1.25rem;
          margin-bottom: 0.5rem;

          line-height: 1.75rem;
        }

        &-subheading {
          font-size: 1rem;
          line-height: 1.625rem;
        }
      }

      .waitlist_form {
        border-left: none;
        border-top: rem(2) solid $bdr-clr;

        .register_form {
          margin: 1.75rem 1.25rem;
          h6 {
            font-size: 0.875rem;
          }
        }

        .success_container {
          height: 100%;
          margin: 2.5rem 1.25rem;
          align-self: stretch;
          gap: 0.75rem;

          .success_title {
            font-size: 1.25rem;
          }

          .success_subtitle {
            font-size: 0.875rem;
            line-height: 1.5rem;
          }
        }
      }
    }
    &-footer {
      grid-column: unset;
      border: none;
      grid-row: unset;
    }
  }
}
