@use "../index.scss" as *;

.radio-item {
  user-select: none;
  label {
    display: inline-block;
    position: relative;
    padding-inline-start: rem(35);
    cursor: pointer;

    input {
      display: none;

      &:checked ~ span {
        border-color: getClr($colors, "primary", 50);
        &::after {
          transform: translate(-50%, -50%) scale(0.8);
        }
      }
    }

    span {
      width: 1.5rem;
      height: 1.5rem;
      border: rem(2) solid var(--clr);
      border-radius: 50%;
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%) scale(1);

      &::after {
        content: "";
        height: 100%;
        width: 100%;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        background: var(--clr);
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(1);
      }
    }

    &:hover span {
      transform: translateY(-50%) scale(1.05);
    }
  }
}
