@use "../index.scss" as *;

.navbar {
  max-width: 80rem;
  width: 90%;
  margin-top: 3rem;
  margin-inline: auto;
  background: getClr($colors, "primary", 900);
  border: rem(1.5) solid getClr($colors, "primary", 200);

  &-nav {
    @include alignCenter;
    padding: 1.25rem 2.5rem;
    justify-content: space-between;
    position: relative;

    > * a {
      display: inline-block;
      color: getClr($colors, "primary", 200);
    }

    &_logo {
      position: absolute;
      max-width: 14.7455rem;

      left: 50%;
      transform: translateX(-50%);

      svg {
        width: 100%;
      }
    }

    &_list {
      @include alignCenter;
      justify-content: space-between;
      width: 100%;

      ul {
        @include alignCenter;
        width: 21.25rem;
        justify-content: space-between;
      }
    }

    > a:not(.navbar-nav_logo) {
      display: none;
    }

    @include mobile {
      padding: 0.75rem 1rem;

      &_logo {
        position: relative;
        display: inline-block;
        left: 20%;
        width: 8.37rem;
      }

      &_list {
        position: absolute;
        display: none;
      }

      > a:not(.navbar-nav_logo) {
        display: inline-block;
      }

      &_bag {
        margin-left: auto;
        margin-right: 1.75rem;
      }
    }
  }
}
