@use "../index.scss" as *;

.product-card {
  // width: 26.6875rem;
  width: 100%;
  height: 35.8rem;
  // height: 100%;
  padding: 2.5em;
  border: rem(1) solid getClr($colors, "primary", 100);
  cursor: pointer;
  background: getClr($colors, "primary", 900);
  color: getClr($colors, "primary", 0);

  &_preview {
    // max-width: 21.7rem;
    height: 25.5rem;
    position: relative;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      display: block;
      object-fit: cover;
    }

    .back-img {
      display: none;
      visibility: hidden;
    }
  }

  .category {
    font-family: $ff-be-viet;
    font-size: 0.625rem;
    font-weight: 600;
    letter-spacing: 0.03125rem;
    color: getClr($colors, "primary", 400);
    margin-block: 1.2rem 0.25rem;
  }

  &_title,
  &_price {
    font-size: 1.25rem;
    color: getClr($colors, "primary", 0);
  }

  &:hover {
    background: getClr($colors, "primary", 50);
    color: getClr($colors, "primary", 900);

    .product-card_preview {
      .front-img {
        display: none;
        visibility: hidden;
      }
      .back-img {
        display: block;
        visibility: visible;
      }
    }

    .category {
      color: getClr($colors, "primary", 900);
    }

    .product-card_title,
    .product-card_price {
      font-size: 1.25rem;
      color: getClr($colors, "primary", 900);
    }
  }

  @include mobile {
    height: 20rem;
    // height: 100%;
    // max-width: 12rem;
    // width: 100%;
    padding: 1em 0.75em;
    &_preview {
      // max-width: 9.75rem;
      height: 12.5rem;
    }

    .category {
      font-size: 0.625rem;
    }

    &_title,
    &_price {
      font-size: 1rem;
    }
  }
}
