@use "../index" as *;

.quantity {
  display: flex;
  align-items: flex-end;
  gap: 0.75rem;

  &_input_btn {
    font-size: 1.8rem;
    height: 1.5rem;
    width: 2rem;
    text-align: center;
    line-height: 0.5rem;
    font-weight: 400;
    background: none;
    outline: none;
    border: none;
    color: getClr($colors, "primary", 300);
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      color: getClr($colors, "primary", 50);
    }
  }
  &_count {
    font-size: 1.25rem;
    color: getClr($colors, "primary", 50);
  }
}
