@use "../index.scss" as *;

.icons {
  @include alignCenter;
  justify-content: space-around;
  .icon {
    width: 2.8rem;
    height: 2.8rem;
    font-size: rem(25);
    @include alignCenter;
    justify-content: center;
    border-radius: 10rem;
    background: getClr($colors, "primary", 100);
    color: getClr($colors, "primary", 900);
    transition: 0.3s ease;
    cursor: pointer;

    &:hover {
      background: getClr($colors, "primary", 0);
    }
  }

  .btn_instagram {
    outline: none;
    background: none;
    width: auto;
    height: auto;
    border: none;
  }

  .btn_sec {
    @include btnSecondary;
    color: getClr($colors, "primary", 100);
    font-size: rem(25);
    padding: unset;
    position: relative;

    .tooltip {
      position: absolute;
      font-size: 0.8rem;
      width: 8.5rem;
      padding-block: 0.5rem;
      right: -50%;
      background: getClr($colors, "primary", 0);
      color: getClr($colors, "primary", 900);
      animation: moveUp 0.5s ease forwards;

      &::after {
        content: "";
        position: absolute;
        right: 20%;
        bottom: -70%;
        border: 0.8rem solid transparent;
        border-top-color: white;
      }
    }
  }

  @keyframes moveUp {
    from {
      top: -50%;
      transform: scale(0);
    }
    to {
      top: -130%;
      transform: scale(1);
    }
  }
}
